.grid-operadores > div{
    display: grid;
    max-width: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.grid-oper-items{
    margin-top: 1rem;
}

input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 1rem;
}